#root {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    /* Gradient Animation  */
    background-image: var(--gradient);
    background-size: 600%;
    animation: bg-animation 7s infinite alternate;
    overflow: hidden;
    }
  
    @keyframes bg-animation {
      0% {background-position: left;}
      0% {background-position: right;}
      100% {background-position: left;}
    }
  
    :root {
      --gradient: linear-gradient(
        45deg,
        #535353,
        #606060,
        #747373,
        #888888,
        #a7a7a7,
        #bcbcbc
        /* #00a388,
        #63A69F,
        #F2E1AC,
        #F2836B,
        #F2594B,
        #CD2C24 */
      );
  }
  
